@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

:root {
    --bg-color: #fff;
    --text-color: #000000;
    --main-color: #83b735;
    --navbar-color: #edecea;
}

body.active {
    --bg-color: #1e1c2a;
    --text-color: #fff;
    --navbar-color: #1e1e1e;
}

#darkmode {
    cursor: pointer;
    position: absolute;
    top: 1.4rem;
}

#darkmode .fa-sun{
    position: absolute;
    cursor: pointer;
    top: 0.3rem;
}

/* Header section */
/* Header nav */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 110px;
    background-color: var(--navbar-color);
}

nav .logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

nav #menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

nav .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0 20px;
    color: var(--text-color);
}

.navbar-nav .nav-link:hover {
    color: var(--main-color);
    transition: all 0.3s linear;
}

/* Header section home */

.header-section__home {
    padding: 50px 110px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1 {
    color: var(--text-color);
    font-size: 2.7rem;
}

.home-text h1 span {
    color: var(--main-color);
}

.home-text p {
    font-size: 1rem;
    margin: 0.5rem 0 2rem;
}

.btn {
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
    cursor: pointer;
}

.home-text .btn:hover {
    background-color: #8fc53d;
}

body.active #darkmode .fa-moon {
  display: none;
}

body.active #darkmode .fa-sun {
  display: block;
}

#darkmode .fa-sun {
  display: none;
}

/* Main section */
/* Shop section */
.heading {
    text-align: center;
    padding: 100px 0 20px;
}

.heading h2 {
    color: var(--text-color);
}

.heading span {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
}

.shop-container, .new-container {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    padding-left: 70px;
}

.box-title {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.shop .box {
    position: relative;
    width: 400px;
    padding-top: 30px;
}

.shop .box img {
    border-radius: 30px 0 0 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.shop .box img:hover {
    transition: all 0.3s linear;
    transform: scale(1.01);
    cursor: pointer;
}

.box-title h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.box-title .stars .fas {
    color: var(--main-color);
}

.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.box .fa-cart-shopping {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 4px 0 4px 0;
}

.shop-container .fa-cart-shopping:hover {
    background-color: #8fc53d;
    cursor: pointer;
}

/* Arrival section */
.arrival .box {
    position: relative;
    padding-top: 30px;
}

.new-container .box-img img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 4px  ;
}

.arrival .box img:hover {
    transition: all 0.3s linear;
    transform: scale(1.01);
    cursor: pointer;
}

/* About section */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 100px 110px 0;
}

.about .about-img img {
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
}

.about-text span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-text h2 {
    color: var(--text-color);
}

.about-text p {
    font-size: 1rem;
    margin: 0.5rem 0 1.4rem;
    color: var(--text-color);
}

/* Brands section */
.brands {
    padding: 20px 110px 0;
}
.brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.brands-container img {
    width: 100px;
    filter: grayscale(1);
}

.brands-container img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 50px 110px;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter h2 {
    color: #fff;
}

.news-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.news-box input {
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
    font-family: 'Poppins';
}

.news-box .btn {
    height: 45px;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    margin-left: 20px;
}

/* Footer section */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    padding: 50px 110px 0;
}

.footer-box h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-box p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-box span {
    color: var(--main-color);
}

.links a {
    font-size: 20px;
    margin-right: 10px;
    color: var(--text-color);
}

.links a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-box .navigation-item a {
    color: var(--text-color);
}

.footer-box .navigation-item a:hover {
    color: var(--main-color);
    transition: all 0.3s linear;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    color: var(--text-color);
}

.copyright {
    text-align: center;
    padding: 40px 0 20px;
}

.copyright a {
    text-decoration: underline;
    color: var(--text-color);
}

/* Responsive web design */
@media only screen and (max-width: 768px) {
    header nav {
        padding: 20px 50px;
    }
    nav #menu-icon {
        display: initial;
    }
    nav .navbar-nav {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--navbar-color);
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: all 0.2s ease;
        text-align: center;
    }
    .navbar-nav.active {
        top: 100%;
    }
    .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar-nav .nav-link {
        padding: 1.5rem;
        display: block;
    }
    #darkmode .fa-sun{
        top: 1.7rem;
    }
}
@media only screen and (max-width: 447px) {
    .header-section__home{
        padding: 20px;
    }
    .home-text h1 {
        font-size: 1.8rem;
    }
    #darkmode {
        position: absolute;
        top: 0;
        right: 2rem;
    }
    .shop-container, .new-container {
        flex-direction: column;
        padding-left: 20px;
    }
    .shop .box {
        width: 300px;
    }
    .shop .box img {
        width: 300px;
    }
    .new-container .box-img img {
        width: 300px;
    }
    .new-container .box {
        width: 300px;
    }
    .about {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
    }
    .about .about-img img {
        width: 100%;
    }
    .about-text h2 {
        font-size: 1.3rem;
    }
    .brands {
        padding: 30px;
    }
    .newsletter {
        padding: 50px 20px;
    }
    .newsletter h2 {
        text-align: center;
    }
    .news-box input {
        width: 200px;
    }
    .footer {
        padding: 50px 20px 0;
    }
    .footer-box {
        padding-top: 40px;
    }
    .copyright {
        font-size: 0.9rem;
    }
}